body {
  margin: 0px;
  background-color: cyan;

  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: hsl(278, 68%, 11%);
}

p {
  margin: 0px;
}

.main-container {
  width: 100%;
  height: 100vh;
  background-color: white;

  display: flex;
  align-items: center;
}

.main__card-container {
  width: 50%;
  height: 100vh;
  background-image: url("./images/bg-main-desktop.png"),
    linear-gradient(180deg, white, white);
  background-repeat: no-repeat;
  background-size: 67% 100%, auto 100%;

  display: grid;
  grid-template-rows: 1fr 1fr;
}

.card__front-container,
.card__back-container {
  width: 62.5%;
  aspect-ratio: 1 / 0.55;
  color: white;
}

.card__front-container {
  padding: 20px 30px;
  margin-bottom: 17px;
  justify-self: center;
  align-self: end;
  background-image: url("./images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front__image {
  width: 18.67%;
}

.front__info-user {
  display: flex;
  justify-content: space-between;
}

.front__number {
  font-size: 1.75rem;
  margin-bottom: 5.5%;
}

.card__back-container {
  margin-top: 17px;
  justify-self: end;
  background-image: url("./images/bg-card-back.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.back__cvc {
  text-align: right;
  position: relative;
  top: 45%;
  right: 13%;
}

.main__info-container {
  width: 50%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__info {
  width: 60%;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info__first-row,
.info__second-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info__third-row {
  display: grid;
  gap: 10px;
  grid-template-columns: calc(25% - 5px) calc(25% - 5px) calc(50% - 10px);
  grid-template-rows: auto 45px auto;
}

.info__exp,
.error--exp {
  grid-column: span 2;
}

.info__label {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.info__error-message {
  color: hsl(0, 100%, 66%);
}

.inp {
  padding: 15px;
  width: calc(100% - 34px);
  height: 15px;
  border-radius: 10px;
  border-style: solid;
  border-color: hsl(270, 3%, 87%);

  font-size: 1.5rem;
  font-weight: 500;
}

.inp::placeholder {
  color: hsl(279, 6%, 55%);
}

.inp:hover {
  cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0px;
}

.submit-btn {
  width: 100%;
  aspect-ratio: 6.25 / 1;
  border-radius: 10px;
  border-style: solid;
  background-color: hsl(278, 68%, 11%);
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: hsla(278, 68%, 11%, 0.9);
}

.thankyou-container {
  width: 0px;
  overflow: hidden;
}
